.character-list {
  display: flex;
  flex-wrap: wrap;
}

.character {
  border: 2px solid black;
  width: 25em;
  height: 18em;
  margin: 1em 1em;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.character h2 {
  margin-top: 0em;
}

.character h3 {
  font-style: normal;
  margin: 0em;
  padding: 0em;
}

.char-info {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* padding: 1em; */
}

.info-section {
  padding: 0.5em;
}

.info-section h3,
.info-section p {
  margin: 0em;
  padding: 0em;
}

.back {
  justify-content: flex-start;
}
